
// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";

/* CUSTOM STYLES
-------------------------------------------------- */
//Smooth Scroll
html {
  scroll-behavior: smooth;
   height: 100%;
}
body {
 height: 100%;
  background-color: $background;
}

#search {
  height: 100%;
}


#search-input {
  margin:0 auto;
  height: 55px;
  padding: 15px 30px;
}

#search-input::placeholder {
  color:black;
}

#search-icon {
  position:absolute;
  right: 30px;
  top:calc(50% - 50%);
  font-size:36px;
  color:$primary;
}


#result-row {
  margin-top: 10px;
}

.work-animation {
  animation: my-animation .8s forwards;
}

@keyframes my-animation {
  from   {transform: translateY(0rem);}
  to {transform: translateY(-10rem);}
}